AddDefaultCharset UTF-8
RewriteEngine on
# Note: no leading / in rewrite rules if you put them in .htaccess!
RewriteRule ^(news|about)-(en|lt)\.html$ /$1/index-$2.html [R,L]
RewriteRule ^(icpc|python)(/.*)?$$ /study/$1$2 [R,L]
RewriteRule ^study/inf98/(autumn2002|spring2003)\.html$ /study/inf98/$1/index-lt.html [R,L]
